@model IEnumerable<ORTastic.Models.User>

@{
    ViewData["Title"] = "Administracion De Usuario";
}

<h1>Administracion De Usuario</h1>

<p>
    <a asp-action="Create">Crear nuevo usuario </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Nombre de Usuario
            </th>
            <th>
                Contraseña
            </th>
            <th>
                Perfil
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoPerfil)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
